.point-form {
  height: clamp(300px, 60vh, 700px);
  width: clamp(200px, 40vh, 600px);
}

.point-form fieldset {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
